```
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.ENV
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/
.mypy_cache/
.hypothesis/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# ASGI
.asgi/

# S3 related
s3/
volume_writer/
```