{% load i18n %}
<div class="blob-detail-container">
  <p class="text-muted">{% trans "No preview available for this file type." %}</p>
  <button class="btn btn-secondary btn-sm show-iframe">{% trans 'Try anyway' %}</button>
</div>
<script>
  document.querySelector('button.show-iframe').addEventListener('click', function() {
    var c = document.querySelector('.blob-detail-container');
    c.innerHTML = '';
    var f = document.createElement('iframe');
    f.src = "{% url 'p2_ui:core-blob-inline' volume_pk=object.volume.pk blob_path=object.path %}";
    f.style = 'width:100%;height:calc(100vh - 200px);border:none;';
    c.appendChild(f);
  });
</script>
